
.info-section {
  background-color: #2e3131;//#34495e;
  height: auto;
  color: snow;
  font-size: .9em;

  .video-section {
    text-align: center;
    padding: 3em;
  }

  .section {
    height: 40em;
    background-color: #2e3131;
    width: 33.3%;
    float: left;
  }

  h2, h3 {
    color:  #29f1c3;
  }

  h2 {
    text-align: center;
    padding: 1.5em;
    font-size: 1.5em;
  }

  h3 {
    text-align: center;
    padding: 1em;
    font-size: 1.2em;
    font-style: italic;
  }

  p {
    padding: 1em;
    line-height: 1.5;
  }

  ul {
    list-style-type: disc;

    li {
      padding: 1em;
      list-style-type: disc;

    }
  }

}
