
.Square {
  background-color: #013243; //#24252a;
  height: 12px;
  width: 12px;
  border: .1px solid rgba(236, 236, 236, .5);
  overflow: none;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;

  &:hover {
    background-color: #48dbfb; //#00e640; //#2ecc71; //#39FF14;
  }
}

.active {
  background-color:  #48dbfb;
}
